:root {
  /* Base */
  --base-page-color: #ffffff;
  --base-font-color: #434455;

  /* Logo */
  --logo-first-color: #4d5ae5;
  --logo-second-color: #2e2f42;
  --footer-logo-second-color: #f4f4fd;

  /* Page WebStudio */
  /* Header */
  --header-nav-color: #2e2f42;
  --header-nav-hov: #404bbf;
  --header-address-color: #434455;
  --header-address-hov: #404bbf;

  /* Hero */
  --bg-hero: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-button-color: #4d5ae5;
  --hero-button-hover-color: #404bbf;

  /* Values */
  --values-title-color: #2e2f42;

  /* Avtivities */
  --activities-title-color: #2e2f42;

  /* Team */
  --team-bg: #f4f4fd;
  --team-title-color: #2e2f42;
  --bg-team-list-color: #ffffff;
  --team-names-color: #2e2f42;

  /* Footer */
  --footer-bg: #2e2f42;

  /* Page Portfolio */
  /* Portfolio button-filter*/
  --portf-button-text-color: #4d5ae5;
  --portf-button-hover-text-color: #ffffff;
  --portf-button-bg: #f4f4fd;
  --portf-button-hover-bg: #404bbf;
  --portf-item-bg: #ffffff;
  --portf-item-name-color: #2e2f42;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto-Black.woff2") format("woff2"),
    url("/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src:
    url("/fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("/fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--base-page-color);
  color: var(--base-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
}

/* Page WebStudio */
/* Section Header */
.header {
  border-bottom: 1px #e7e9fc solid;
}

/* Logo */
.logo {
  font-family: Raleway;
  text-transform: uppercase;
  color: var(--logo-first-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.header .logo-second-part {
  color: var(--logo-second-color);
}

.footer .logo-second-part {
  color: var(--footer-logo-second-color);
}

/* Header list */
.header-link {
  font-weight: 500;
  color: var(--header-nav-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--header-nav-hov);
}

/* Header address */
.header-mail,
.header-tel {
  color: var(--header-address-color);
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--header-address-hov);
}

/* Section Hero */
.hero {
  background-color: var(--bg-hero);
}

.hero-title {
  font-weight: 700;
  line-height: 1.07;
  color: var(--hero-title-color);
  text-align: center;
}

.hero-button {
  background-color: var(--hero-button-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;

  /* text */
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover-color);
}

/* Section Values */
.values__item-title {
  color: var(--values-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* Section Activities */
.activities-title {
  color: var(--activities-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* Section Team */
.team {
  background-color: var(--team-bg);
}

.team__title {
  color: var(--team-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team__person {
  max-width: 264px;
  min-width: 264px;
  padding-bottom: 32px;
  background-color: var(--bg-team-list-color);
  box-shadow:
    0px 2px 1px 0px #2e2f4214,
    0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

.team__person-name {
  font-weight: 500;
  line-height: 1.2;
  color: var(--team-names-color);
}

.team__person-name,
.team__person-occupation {
  text-align: center;
}

/* Section Footer */
.footer {
  background-color: var(--footer-bg);
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

/* Page Portfolio */
/* Section Portfolio-filter*/
.portfolio-button {
  background-color: var(--portf-button-bg);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: var(--portf-button-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--portf-button-hover-bg);
  border: 1px solid var(--portf-button-hover-bg);
  color: var(--portf-button-hover-text-color);
  box-shadow:
    0px 2px 2px 0px #0000001f,
    0px 2px 1px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

.portfolio-item {
  background-color: var(--portf-item-bg);
  border: 1px solid #e7e9fc;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--portf-item-name-color);
}

.portfolio-type {
  color: #434455;
}
